bin/
obj/
PrecompiledWeb/
packages/
log/
/FrontEndWeb/web.config
/MemberWeb/web.config
/Hiring.Workflow.API/web.config
*.user
*.suo
.sass-cache/
MetastoreProd.xml
.DS_Store
build-gh.cmd
msbuild.log
node_modules
.idea
.vscode
/FrontEndWeb/waf
/MemberWeb/waf
/MemberWeb/res
/FrontEndWeb/res
/.vs
/.vscode

/FrontEndWeb/ContentOutput/*
!/FrontEndWeb/ContentOutput/images

/FrontEndWeb/app-config-development.json
/MemberWeb/app-config-development.json

# Serverless directories
Hiring.Workflow.AWS/.serverless
FrontEndWeb/Web.Debug.config
GH.sln.GhostDoc.xml
MemberWeb/web.Debug.config
MemberWeb/web.Release.config
FrontEndWeb/Web.Release.config
Hiring.Workflow.API/ApplicationInsights.config
Hiring.Workflow.API/Properties/PublishProfiles/FolderProfile.pubxml
Hiring.Workflow.API/Web.Debug.config
Hiring.Workflow.API/Web.Release.config
.gitattributes
*.pyc
MemberWeb/logs/
Hiring.Workflow.AWS/serverless.yml
Hiring.Workflow.API/.vs/config/applicationhost.config
/FrontEndWeb/Config.Make-Preprod.ps1
Hiring.Workflow.API/logs/
/.sonarlint
/data
_ReSharper.Caches
/0
/NuGet
TestResult.xml
AppCoverageReport.xml
